@tailwind base;
@tailwind components;
@tailwind utilities;

/* Article style for blog-post.js */
.blog-post header h1 {
  margin-bottom: 2rem;
}

.blog-post p {
  margin-bottom: 1.5rem;
}

.blog-post ul {
  list-style-type: disc;
  list-style-position: inside;
  margin: 0;
}

.blog-post li {
  margin: 0;
}
