@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navbar menu drop-down */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Post style for index.js */

.post-list li:first-child {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.post-list li:last-child {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/* Article style for blog-post.js */
.blog-post h1 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 800;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 0.01em;
  color: #222222;
}

.blog-post header h1 {
  margin-top: 0;
}

.blog-post h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 1.7rem;
  font-weight: 700;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 0.01em;
  margin-top: 2.5rem;
  color: #51247a;
}

.blog-post p {
  margin-bottom: 1.3rem;
}

.blog-post ul {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 1em;
}

.blog-post ul>li {
  margin-bottom: 0.7em;
}

.blog-post ol>li {
  list-style-type: decimal;
  list-style-position: inside;
  margin: 0;
  margin-bottom: 0.7em;
}

.blog-post ol.list-bold>li::marker {
  font-weight: bold;
}

.blog-post ol ul>li {
  margin-left: 1.2em;
  margin-bottom: 0.3em;
}

.blog-post ol ul>li:first-child {
  margin-top: 0.3em;
}

.blog-post ul>li:last-child {
  margin-bottom: 1.3em;
}

.blog-post a {
  color: #2563EB;
  text-decoration: underline;
}

.blog-post div.wrapper {
  display: grid;
  grid-template-columns: 70% 5% 25%;
  margin-bottom: 1em;
}
